.teacher3-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.teacher3-teacher3 {
  width: 100%;
  height: 1266px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.teacher3-menu {
  top: 0px;
  left: 0px;
  width: 410px;
  height: 1266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(17, 85, 151, 1);
}
.teacher3-text {
  top: 650px;
  left: 42px;
  color: rgba(199, 188, 188, 1);
  width: 305px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacher3-text02 {
  top: 788px;
  left: 42px;
  color: rgba(199, 188, 188, 1);
  width: 305px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacher3-text04 {
  top: 585px;
  left: 42px;
  color: rgba(199, 188, 188, 1);
  width: 305px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacher3-text06 {
  top: 721px;
  left: 42px;
  color: rgba(255, 255, 255, 1);
  width: 305px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacher3-header {
  top: 0px;
  left: 410px;
  width: 1140px;
  height: 187px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.teacher3-ubblogo1 {
  top: 53px;
  left: 39.03415298461914px;
  width: 266px;
  height: 81px;
  position: absolute;
}
.teacher3-psihologo1 {
  top: 53px;
  left: 694.6093139648438px;
  width: 405px;
  height: 81px;
  position: absolute;
}
.teacher3-top-bar {
  top: 187px;
  left: 1034px;
  width: 476px;
  height: 59px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.teacher3-rectangle3 {
  top: 0px;
  left: 287px;
  width: 189px;
  height: 59px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.teacher3-logout1 {
  top: 10px;
  left: 425px;
  width: 38px;
  height: 35px;
  position: absolute;
}
.teacher3-text08 {
  top: 14px;
  color: rgba(17, 85, 151, 1);
  width: 248px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacher3-text10 {
  top: 10px;
  left: 293px;
  color: rgba(17, 85, 151, 1);
  width: 132px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacher3-student-card {
  top: 538px;
  left: 449px;
  width: 1008px;
  height: 129px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 0.1599999964237213);
}
.teacher3-rectangle11 {
  top: 0px;
  left: 0px;
  width: 1008px;
  height: 129px;
  position: absolute;
  border-radius: 20px;
}
.teacher3-text12 {
  top: 78px;
  left: 47px;
  color: rgba(0, 0, 0, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacher3-text14 {
  top: 29px;
  left: 47px;
  color: rgba(0, 0, 0, 1);
  width: 558px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacher3-text16 {
  top: 47px;
  left: 562px;
  color: rgba(0, 0, 0, 1);
  width: 89px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacher3-group10 {
  top: 24px;
  left: 47px;
  width: 932px;
  height: 88px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.teacher3-button {
  top: 9px;
  left: 730px;
  width: 202px;
  height: 62px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(17, 85, 151, 1);
}
.teacher3-text18 {
  top: 3px;
  left: 31px;
  color: rgba(255, 255, 255, 1);
  width: 137px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacher3-text20 {
  top: 54px;
  color: rgba(0, 0, 0, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacher3-text22 {
  top: 5px;
  color: rgba(0, 0, 0, 1);
  width: 558px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacher3-rectangle111 {
  top: 0px;
  left: 586px;
  width: 106px;
  height: 75px;
  position: absolute;
}
.teacher3-rectangle12 {
  top: 0px;
  left: 586px;
  width: 106px;
  height: 75px;
  position: absolute;
}
.teacher3-text24 {
  top: 23px;
  left: 515px;
  color: rgba(0, 0, 0, 1);
  width: 89px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacher3-group11 {
  top: 697px;
  left: 449px;
  width: 1008px;
  height: 129px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 0.1599999964237213);
}
.teacher3-rectangle121 {
  top: 0px;
  left: 0px;
  width: 1008px;
  height: 129px;
  position: absolute;
  border-radius: 20px;
}
.teacher3-button1 {
  top: 33px;
  left: 777px;
  width: 202px;
  height: 62px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(17, 85, 151, 1);
}
.teacher3-text26 {
  top: 3px;
  left: 31px;
  color: rgba(255, 255, 255, 1);
  width: 137px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacher3-text28 {
  top: 78px;
  left: 47px;
  color: rgba(0, 0, 0, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacher3-text30 {
  top: 29px;
  left: 47px;
  color: rgba(0, 0, 0, 1);
  width: 558px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacher3-rectangle112 {
  top: 24px;
  left: 633px;
  width: 106px;
  height: 75px;
  position: absolute;
}
.teacher3-text32 {
  top: 48px;
  left: 562px;
  color: rgba(0, 0, 0, 1);
  width: 89px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacher3-group12 {
  top: 856px;
  left: 449px;
  width: 1008px;
  height: 129px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 0.1599999964237213);
}
.teacher3-rectangle122 {
  top: 0px;
  left: 0px;
  width: 1008px;
  height: 129px;
  position: absolute;
  border-radius: 20px;
}
.teacher3-button2 {
  top: 33px;
  left: 777px;
  width: 202px;
  height: 62px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(17, 85, 151, 1);
}
.teacher3-text34 {
  top: 3px;
  left: 31px;
  color: rgba(255, 255, 255, 1);
  width: 137px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacher3-text36 {
  top: 78px;
  left: 47px;
  color: rgba(0, 0, 0, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacher3-text38 {
  top: 29px;
  left: 47px;
  color: rgba(0, 0, 0, 1);
  width: 558px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacher3-rectangle113 {
  top: 24px;
  left: 633px;
  width: 106px;
  height: 75px;
  position: absolute;
}
.teacher3-text40 {
  top: 44px;
  left: 562px;
  color: rgba(0, 0, 0, 1);
  width: 89px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacher3-text42 {
  top: 28px;
  left: 655px;
  color: rgba(0, 0, 0, 1);
  width: 80px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  background-color: #D9D9D9;
  border: none;
}

.teacher3-text1042 {
  top: 28px;
  left: 655px;
  color: rgba(0, 0, 0, 1);
  width: 80px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  background-color: #D9D9D9;
  border: none;
}
.teacher3-text1043 {
  top: 10px;
  left: 610px;
  color: rgba(0, 0, 0, 1);
  width: 80px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  background-color: #D9D9D9;
  border: none;
}
.teacher3-group9 {
  top: 697px;
  left: 449px;
  width: 1008px;
  height: 129px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 0.1599999964237213);
}

.teacher3-group7 {
  top: 351px;
  left: 1282px;
  width: 157.84616088867188px;
  height: 43px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(17, 85, 151, 1);
}
.teacher3-text43 {
  top: 9px;
  left: 7px;
  color: rgba(255, 255, 255, 1);
  width: 143px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacher3-group8 {
  top: 351px;
  left: 1105px;
  width: 157.84616088867188px;
  height: 43px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(17, 85, 151, 1);
}
.teacher3-text45 {
  top: 9px;
  left: 7px;
  color: rgba(255, 255, 255, 1);
  width: 143px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacher3-rectangle9 {
  top: 409px;
  left: 449px;
  width: 1008px;
  height: 58px;
  position: absolute;
  border-radius: 20px;
}
.teacher3-text47 {
  top: 426px;
  left: 484px;
  color: rgba(176, 175, 175, 1);
  width: 558px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
/* .teacher3-text106 {
  top: 42px;
  left: 675px;
  color: rgba(0, 0, 0, 1);
  width: 89px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
} */